<div class="container info">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1>
					我的球隊列表
				</h1>
			</div>
			<div class="col-md-6 search">
				搜尋bar
			</div>
		</div>
	</div>

	<div class="container">
		<%= render :partial => 'team_list', :collection => @teams, :as => :team  %>
	</div>
</div>
