<div class="container">
	<div class="myteam_info">
		<div class="container head">
			<div class="row">
				<div class="col-md-4">
					<h1>
						我的球隊列表
					</h1>
				</div>
			</div>
		</div>
		
		<div class="container teams_container">
			<div class="row">
				<div class="col-sm-12">
					<div class="nav nav-tabs pull-left">
	    	<% @teams.each do |team| %>
	    	<li class="<%= 'active' if @team == team %>">
	    		<%= link_to team.name, teams_path(team: team) %>
	    	</li>
	    	<% end %>
	    </div>
				</div>
			</div>
	    
	    <div class="row">
	    	<div class = "col-sm-12">	
					<%= render :partial => 'team_list', :locals => { :team => @team }  %>
	    	</div>
	    </div>
	   </div>
			
 		
	</div>
</div>
