<div class="container info">
	<h1> 這是球隊頁面！ </h1>
    <h2> 在這裡可以看到自己所屬的球隊以及隊員 </h2>
    <h2> 當然也可以新增球隊，以及邀請新球友加入球隊</h2>
    <br>
    <br>
    <h2> 誰要當我隊友啦~ </h2>
    <%= form_tag users_path, :method => :get, :remote => true do %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: "輸入使用者ID 或 Email", class: "transparent"%>
        <%= submit_tag "搜尋" %>
      </p>
    <% end %>


    <div class="find_user">
      <% render @users %>
    </div>

</div>
