

<div class="search_box bolder">
 <div class="row">

  <% @users.each do |user| %>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 search_box_min">
   <%= user_head(user) %>
  </div>

  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
  使用者名稱:  <%= user.username %> <br>
  使用者ID:  <%= user.userid %>
  </div>

  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
  </div>
  <%= link_to "加", add_player_team_path(team, :user_id => user) %>
  <% end %>
  </div>
</div>
