<% @users.each do |user| %>

<div class="search_box row ">

    <div class="search_pic col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <%= user_head(user) %>
    </div>

    <div class="search_name col-xs-8 col-sm-8 col-md-8 col-lg-8">
      使用者名稱:  <%= user.username %> <br>
      使用者ID:  <%= user.userid %>
    </div>

    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
      <%= link_to add_player_team_path(team, :user_id => user), :method => :post  do%>
      <i class="fa fa-plus fa-5" aria-hidden="true"></i>
      <% end %>

    </div>

</div>

<% end %>
