development:
  adapter: mysql2
  encoding: utf8
  database: database_name
  host: localhost
  username: root
  password:

test:
  adapter: mysql2
  encoding: utf8
  database: database_name_test
  host: localhost
  username: root
  password: