body {
   background-size: cover;
   background-repeat: no-repeat;
   background-image: image-url('bg_badminton.jpg');
}

.info {
	background-color: rgba(255,255,255, 0.8);
	height: 550px;
	border-radius: 10px;
}

.container_mobile {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	background-color: white;
	height: 500px;
	border-radius: 10px;
}

#navbar {
	min-height: 50px;
	background-color: transparent;
	border-color: transparent;
}


// login & singup

.container_mobile_first {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	background-color: rgba(255,255,255, 0.6);
	height: 500px;
	border-radius: 10px;
}

.fb_button {
  box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
