body {
   background-size: cover;
   background-repeat: no-repeat;
   background-image: image-url('bg_badminton.jpg');
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.info {
	background-color: rgba(255,255,255, 0.8);
	height: 550px;
	border-radius: 10px;
}

.container_mobile {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	background-color: white;
	height: 500px;
	border-radius: 10px;
}

#navbar {
	min-height: 50px;
	background-color: transparent;
	border-color: transparent;
}


// login & singup

.container_mobile_first {
  position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	background-color: rgba(255,255,255, 0.8);
	height: 600px;
	border-radius: 10px;
}

.container_mobile_signup {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 380px;
  background-color: rgba(255,255,255, 0.8);
  height: 670px;
  border-radius: 10px;
}

.sign_logo {
 margin: 0px 30%;
 border-bottom-style: solid;
 border-bottom-width: 1px;
 border-bottom-color:#0000000;
}

.fb_button {
  box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}

.field {
 text-align: center;
 margin-left: auto;
 margin-right: auto;
 width: 250px;
 border-bottom-style: solid;
 border-bottom-width: medium;
 border-bottom-color:#000000;
}

.email_area {
padding-right: 60px;
}

.email_area2 {
padding-right: 76px;
}
.btn-success {
	width: 250px;
}

.password_area{
padding-right: 76px;
}

.transparent {
	background: transparent;
	border: none;
}

.createuser {
  text-align: center;
}

.nil_line {
 height: 180px;
 width: 1px;
 background:#000000;
 margin:0px auto;
}












/*************************
          ＲＷＤ
*************************/

/*中中中中中中中中中中中中中中中中中*/


@media (max-width: 992px) {

.or_bar {
padding-top: 70px;
padding-bottom: 30px;
}

.facebook {
  position: absolute;
  padding-top: 20px;
  padding-left:40px;

}

.sign_logo2 {
 margin: 0px 30%;
 border-bottom-style: solid;
 border-bottom-width: 1px;
 border-bottom-color:#0000000;
}

}
/*大大大大大大大大大大大大大大大大大*/
@media (min-width: 992px) {

.container_mobile_first {
  width: 650px;
  height: 450px;
}

.logo_bar {
  display: none;
}

.facebook{
  padding-top: 64px;
  height:160px;
  padding-left: 0px;
  padding-right: 130px;

}

.signin_box {
  padding-top: 20px;
  height:160px;
  padding-left: 50px;
  padding-right: 0px;
}



}
